@import "tailwindcss";

:root {
  --primary: #223843;
  --secondary: #eff1f3;
  --gray: #dbd3d8;
  --accent: #d8b4a0;
  --font-sans: var(--font-hedvig-sans);
  --font-serif: var(--font-hedvig-serif);
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-gray: var(--gray);
  --color-accent: var(--accent);
  --font-sans: var(--font-hedvig-sans);
  --font-serif: var(--font-hedvig-serif);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--primary);
  color: var(--secondary);
  font-family: Arial, Helvetica, sans-serif;
}